<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
</head>
<body>
    <form action="" method="post">
        <br>
        <input placeholder="imię" type="text" name="imie" id="imie">
        <br><br>
        <input placeholder="nazwisko" type="text" name="nazwisko" id="nazwisko"><br><br>
    <button type="submit">zapisz</button>
    </form>
</body>
</html>